<h3>
To Do List
</h3>


<div class="container-fluid">
  <div class="row">
      <div class="col">
          <div *ngFor="let todo of todos | async">
              <div [ngClass]="{completed: todo.completed}" class="card mb-3" (click)="onSelect(todo)">
                <div class="card-body">
                  <h5 class="card-title">{{todo.body}}</h5>
                </div>
              </div>
          </div>
      </div>
        <div *ngIf="selected" class="col">
            <app-todo-detail [todo]=selectedTodo (changed)="onUpdate($event)"></app-todo-detail>
        </div>
        <app-todo-form class="col" (changed)="onUpdate($event)"></app-todo-form>
  </div>
</div>


