<div *ngIf="auth.user$ | async">
        <button mat-flat-button color="accent" (click)="auth.getCalendar()" class="button is-success">Get Google Calendar</button>
        <!-- <button (click)="auth.insertEvent()" class="button is-warning">Add Event</button> -->
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div *ngFor="let item of auth.calendarItems " >
                <div class="col"  (click)="onSelect(item)">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{item.summary}}</h5>
                            <p class="card-text">Start: {{item.start.dateTime | date:'short'}}</p>
                        </div>
                    </div>
                
                </div>
                
            </div>
        </div>
        <div *ngIf="selected" class="col">
            <app-calendar-detail [item]=selectedItem ></app-calendar-detail>
        </div>
        <div class="col" *ngIf="auth.user$ | async">
            <app-calendar-form></app-calendar-form>
        </div>
    </div>
</div>



