<div>
  <h4>
    New Goal
  </h4>

  <form #goalForm="ngForm" (ngSubmit)="SubmitGoal()">
      <div class="form-group">
          <label for="Gname">Name : </label>
          <input type="text" class="form-control" id="Gname"
            required
            [(ngModel)]="model.name" name="Gname"
            #Gname="ngModel">
      </div>
      <div [hidden]="Gname.valid || Gname.pristine"
        class="alert alert-danger">
            Name is required
      </div>

      <div class="form-group">
          <label for="description">Description : </label>
          <input type="text" class="form-control" id="description"
            required
            [(ngModel)]="model.description" name="description"
            #description="ngModel">
      </div>
      <div [hidden]="description.valid || description.pristine"
        class="alert alert-danger">
            Description is required
        </div>

      <mat-form-field>
          <input matInput [matDatepicker]="dueDate" placeholder="due Date"
                  (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
          <mat-datepicker #dueDate></mat-datepicker>
      </mat-form-field>

        <div class="form-group">
          <mat-checkbox  id="completed"
            [(ngModel)]="model.completed" name="completed"
            #completed="ngModel">Completed?</mat-checkbox>
        </div>
      
      <button type="submit" class="btn btn-secondary" [disabled]="!goalForm.valid">add</button>


  </form>   








</div>



