<div *ngIf="todo">
<h3>Selected To Do</h3>
<br/>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{todo.body}}</h5>
          <h6 class="card-subtitle">Id: {{todo.id}}</h6>
          <p class="card-text">Completed: {{todo.completed}}</p>
          <p class="card-text">Goal: {{todo.goal.name}}</p>
        </div>
      </div>
      <button (click)="editing()">Edit</button>
      <button (click)="removeTodo()">Delete</button>
      <br/>
      <form *ngIf="edit" #todoForm="ngForm" (ngSubmit)="SubmitTodo()">
          <div class="form-group">
              <label for="body">To do: </label>
              <input type="text" class="form-control" id="body"
                      required
                      [(ngModel)]="todo.body" name="body"
                      #body="ngModel">
            </div>
            <div [hidden]="body.valid || body.pristine"
            class="alert alert-danger">
                To do is required
            </div>
  
            <div class="form-group">
                <label for="completed">Completed: </label>
                <input type="checkbox" class="form-control" id="completed"
                        required
                        [(ngModel)]="todo.completed" name="completed"
                        #completed="ngModel">
            </div>
            <div class="form-group">
              <label for='goalId'>Goal: </label>
              <select [(ngModel)]="todo.goalId"  name="goalId" id="goalId" required #goalId="ngModel">
                <option *ngFor="let item of goals | async" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          
          <button type="submit" [disabled]="!todoForm.valid">save</button>
  
        </form> 
      <br/>
</div>

