<div *ngIf="todo">
<h3>Selected To Do</h3>
<br/>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{todo.body}}</h5>
          <h6 class="card-subtitle">Id: {{todo.id}}</h6>
          <p class="card-text">Completed: {{todo.completed}}</p>
          <p class="card-text">Goal: {{todo.goal.name}}</p>
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="editing()">Edit</button>
      <button type="button" class="btn btn-danger" (click)="removeTodo()">Delete</button>
      <br/>
      
      <form *ngIf="edit" #todoForm="ngForm" (ngSubmit)="SubmitTodo()">
          <div class="form-group">
              <label for="body">To do: </label>
              <input type="text" class="form-control" id="body"
                      required
                      [(ngModel)]="todo.body" name="body"
                      #body="ngModel">
            </div>
            <div [hidden]="body.valid || body.pristine"
            class="alert alert-danger">
                To do is required
            </div>
  
            <div class="form-group">
              <div class="form-group">
                  <mat-checkbox  id="completed"
                    [(ngModel)]="todo.completed" name="completed"
                    #completed="ngModel">Completed?</mat-checkbox>
                </div>
            </div>
            <div class="form-group">
              <label for='goalId'>Goal: </label>
              <select [(ngModel)]="todo.goalId"  name="goalId" id="goalId" required #goalId="ngModel" >
                <option  [value]="todo.goal.id" selected>current goal: {{todo.goal.name}}</option>
                <option *ngFor="let item of goals | async" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          
          <button type="submit" class="btn btn-secondary" [disabled]="!todoForm.valid">save</button>
  
        </form> 
      <br/>
</div>

