<div *ngIf="todo">
<h3>Selected Todo</h3>
<br/>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{todo.body}}</h5>
          <h6 class="card-subtitle">Id: {{todo.id}}</h6>
          <p class="card-text">Completed: {{todo.completed}}</p>
          <!-- <p class="card-text">Goal: {{todo.goal.name}}</p> -->
        </div>
      </div>
      <button (click)="editing()">Edit</button>
      <br/>
      <div *ngIf="edit">
          <label>Todo:
            <input 
              id = "body"
              [(ngModel)]="todo.body" name="body"
              #body="ngModel"
            />
          </label>
          <br/>
          <label>
            Completed: 
            <input type="checkbox" [(ngModel)]="todo.completed"/>
          </label>
          <br/>
          <label>
            Goal: 
            
            <!-- <select>
                <option *ngIf="expression" *ngFor="let goal of goals | async" value={{goal.id}}>
                  {{goal.name}}
                </option>
              </select> -->
          </label>
          <button type="submit">save</button>
        </div>
      <br/>
</div>

