<div>

    <form [formGroup]="todoForm" (ngSubmit)="SubmitTodo()">
  
        <label>
            New Todo: 
            <input type="text" [formControlName]="mytodo"/>
          </label>
        <label>
            Attach to Goal: 
            <select [formControlName]="goalId" >
                <option *ngFor="let goal of goals | async" value={{goal.id}}>
                  {{goal.name}}
                </option>
              </select>
          </label>
        
        <button type="submit">add</button>

      </form>    
</div>

