<p>
  goal-list works!
</p>
<div *ngFor="let goal of goals | async">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{goal.name}}</h5>
        <h6 class="card-subtitle">Id: {{goal.id}}</h6>
        <!-- <p class="card-text">Completed: {{goal.completed}}</p>
        <p class="card-text">Description: {{goal.description}}</p>
        <p class="card-text">Due Date: {{goal.dueDate}}</p> -->
        <!-- {{goal.todos.body}} -->
        <!-- <span *ngFor="let todo of todos | async" [type]='element'>
          {{todo.body}}
        </span> -->
        
      </div>
    </div>
  </div>
