<h3>
   Goal List
</h3>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div *ngFor="let goal of goals | async">
                <div class="card mb-3" (click)="onSelect(goal)" >
                  <div class="card-body">
                    <h5 class="card-title">{{goal.name}}</h5>
                  </div>
                </div>
              </div>
        </div>
          <div *ngIf="selected" class="col">
              <app-goal-detail [goal]=selectedGoal (changed)="onUpdate($event)"></app-goal-detail>
          </div>
          <app-goal-form class="col" (changed)="onUpdate($event)"></app-goal-form>
    </div>
  </div>



